.form {
    max-width: 500px;
    margin: 2.5% auto;
    padding: 0 10px;
  }
  
  input {
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
  }
  
  /* input[type="text"] {
    height: 40px;
    padding: 0.5rem 1rem;
    border: 1px solid #999;
  } */

.input-type-text {
    height: 40px;
    padding: 0.5rem 1rem;
    border: 1px solid #999;
  }
  
  .form-button {
    background-color: green;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    height: 40px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  input:focus {
    outline: none;
    border-color: #000000;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }

  .reply-box {
    width:60%;
    height: 50px;
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  .reply-box textarea {
    width: 100%;
    font-size: 20px;
    height:50%;
    align-items: center;
    overflow: auto;
    border: none;
    outline: none;
    resize:none;
  }
/* 
  .reply-box textarea:focus~.reply-box {
    border-bottom: 1px solid blue;
  }
   */