.post-card {
    width: 600px;
    padding: 25px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-card-username {
    font-weight: bold;
    text-align: left;
}

.post-card-content {
    text-align: left;
}

.post-card-likes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}